<div class="jumbotron">
    <div class="container">
        <h1>Memory Game</h1>
        <p>
            <select ng-options="query for query in $ctrl.queryPossibilities" ng-model="$ctrl.query" class="form-control"></select>
            <select ng-options="nrOfMemoryPairs for nrOfMemoryPairs in $ctrl.nrOfMemoryPairsPossibilities" ng-model="$ctrl.nrOfMemoryPairs" class="form-control"></select>
            <button type="button" class="btn btn-primary" ng-click="$ctrl.restartGame()">
                restart
            </button>
        </p>
    </div>
</div>

<div class="container">
    <uib-alert type="warning"
               close="$ctrl.clearErrorMessage()"
               ng-show="$ctrl.isErrorMessage()">
        {{$ctrl.getErrorMessage()}}
    </uib-alert>

    <div class="row">
        <div ng-repeat="memoryCard in $ctrl.memoryCards" class="col-lg-3 col-md-4 col-xs-6">
            <div class="memory-game-image-crop">
                <img class="memory-game-image" ng-src="{{memoryCard.url}}">
            </div>
        </div>
    </div>
</div>
