<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="appTitle">{{$ctrl.appTitle}}</span> + <span class="emphasys">{{$ctrl.emphasysTitle}}</span>
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-right">
                <a class="navbar-brand" ui-sref="main.game" ui-sref-active="active">memory game</a>
                <a class="navbar-brand" ui-sref="main.randomImage" ui-sref-active="active">random image</a>
            </div>
        </div>
    </div>
</nav>
