<div class="jumbotron">
    <div class="container">
        <h1>Random Image</h1>
        <p>
            <input type="text" ng-model="$ctrl.query" class="form-control">
            <button type="button" class="btn btn-primary" ng-click="$ctrl.refreshImage()">
                refresh
            </button>
        </p>
    </div>
</div>

<div class="container">
    <uib-alert type="warning"
               close="$ctrl.clearErrorMessage()"
               ng-show="$ctrl.isErrorMessage()">
        {{$ctrl.getErrorMessage()}}
    </uib-alert>

    <div class="row">
        <div class="col-md-6">
            <img ng-src="{{$ctrl.image.url}}"/>
        </div>
        <div class="col-md-6">
            <h2 class="imageTitle">{{$ctrl.image.title}}</h2>
            <p class="imageDescription">
                {{$ctrl.image.description}}
            </p>
        </div>
    </div>
</div>
