app-content {
    app-header {
        .appTitle {
            span {
                color: $primary-color;
            }

            span.emphasys {
                color: $secondary-color;
            }
        }
    }

    h2 {
        color: darkorange;
    }

    app-footer {
        .codedBy {
            margin: auto;
            width: 60%;

            color: $secondary-color;

            .author {
                font-weight: bold;
            }
        }
    }
}
