app-content {
    app-header {
        .navbar {
            background-color: $header-bg;
            color: $header-color;

            span.appTitle {
                color: $white;
            }

            span.emphasys {
                color: $primary-color;
            }
        }
    }

    .container {
        color: $body-color;
    }

    .jumbotron {
        padding-bottom: 10px;
        background-color: $jumbotron-bg;

        //.container {
        //    color: $black;
        //}
    }

    app-footer {
    }
}
