/* for angular-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

app-content {
    app-header {
        .navbar {
            background-color: $header-bg;
            color: $header-color;

            a.navbar-brand {
                color: $lime-light;
            }
            a.navbar-brand.active {
                color: $white;
            }

            span.appTitle {
                color: $white;
            }

            span.emphasys {
                color: $primary-color;
            }
        }
    }

    .container {
        color: $body-color;
    }

    .jumbotron {
        padding-bottom: 10px;
        background-color: $jumbotron-bg;

        //.container {
        //    color: $black;
        //}
    }

    .btn-primary {
        color: $black;
        background-color: $primary-color;
        border-color: $lime-darkest;
    }
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .btn-primary.active,
    .btn-primary:hover {
        color: $black;
        background-color: $secondary-color;
        border-color: $lime-darkest;
    }

    .form-control {
        display: inline;
        width: auto;
        color: $lime-darkest;
        background-color: $white;
        border: 1px solid $lime-darkest;
    }

    .strong {
        font-weight: 700;
    }

    memory-game {
        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
        }

        .gameInfo {
            line-height: 28px;
        }

        .durationBlock {
            padding-top: 30px;
        }

        @media (max-width: 991px) {
            .durationBlock {
                padding-top: inherit;
            }
        }

        .duration {
            color: $secondary-color;
            font-size: 40px;
        }

        .memoryGame {
        }

        .memoryCard {
            min-width: 210px;
            min-height: 170px;
        }

        .cardBackside {
            rect.outer {
                fill: $lime-darkest;
            }

            rect.inner {
                fill: $lime-darkest;
                stroke: $gray;
                stroke-width: 4;
            }

            line {
                stroke: $gray;
                stroke-width: 4;
            }

            text {
                fill: $gray;
                font-size: 40px;
            }
        }

        .memory-game-image-crop {
            width: 200px;
            height: 162px;
            overflow: hidden;
        }

        .memory-game-image {
            width: 200px;
            height: auto;
        }
    }

    app-footer {
    }
}
